extends layout.pug

block content
  section#content
    if name
      h2 Welcome, #{name}!
    else
      h2 Welcome, student!
    form(action='/goodbye', method='post')
      button(type='submit') Goodbye

block content2
  h3 testing
