doctype html
html(lang="en")
  head
    title Dev Preview Branches
  body
    h1 Preview Branches
    //- form(method='post')
    table
      thead
        tr 
          th Branches 
          th Devloper
          th End Date
          th Status
      tbody
        tr
          td Preview 1
          td 
            select
              option -- select dev --
              option Carlos
              option Jose
          td 
            
          td True
